@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 48px;
  font-size: 18px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.logo-style {
  position: absolute;
  top: calc(50% - 20px);
  left: 12px;
  padding: 10px 12px;
}

.headline {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 24px;
  font-size: 16px;
  gap: 12px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  background-image: url(./icons/header-mobile.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.menu-style {
  position: absolute;
  top: calc(50% - 20px);
  right: 24px;
  padding: 8px;
}

.greeting-style {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 50px;
  width: 327px;
  height: 150px;
}

.text1 {
  color: #344563;
  width: 327px;
  height: auto;
}

.text2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: #7f8cff;
  margin-top: 0;
  margin-bottom: 0;
}

.social-media {
  width: 170.17px;
  height: 20px;
}